table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0 !important;
}

.add-user-wrapper {
  flex-shrink: 0; /* No se reduce */
  display: flex;
  align-items: center;
  height: 100%; /* Alineación vertical */
  align-self: flex-end; /* Para alinear verticalmente abajo si querés */
  margin-left: auto; /* 👈 Esto lo empuja a la derecha */
}

.add-user-btn {
  background-color: rgba(7, 84, 111, 0.2) !important; /* color suave */
  color: #003b4a !important;
  border: 1px solid #005a63;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: background-color 0.3s;
}

.add-user-btn:hover {
  background-color: rgba(0, 26, 255, 0.2) !important;
}

.plus-icon {
  font-size: 1.2rem;
  font-weight: bold;
}

.titulo-usuarios {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  color: #005a63;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

.td-email{
    text-align: center;
}

.td-rol{
    text-align: center;
}

.td-nombre {
    text-align: center;
    color: #585757;
}

th {
  background-color: #005a63;
  color: white;
}

.estado-habilitado {
    text-align: center;
    color: rgb(2, 2, 2);
    background-color: rgba(156, 236, 156, 0.978);
}

.estado-deshabilitado {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(247, 121, 121, 0.978);
}

.estado-pendiente {
    text-align: center;
    background-color: rgba(249, 245, 115, 0.978);
    color: rgb(0, 0, 0);
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.controls-bar {
  display: flex;
  flex-wrap: wrap; /* ✅ permitir varias líneas */
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.add-user-wrapper {
  flex-shrink: 0;
}

.add-user-btn {
  background-color: #005a63;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.plus-icon {
  font-size: 1.2rem;
}

.filters input {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nomidborder-table th,
.nomidborder-table td {
  border-left: none;
  border-right: none;
  white-space: nowrap;
}

.nomidborder-table td:first-child,
.nomidborder-table th:first-child {
  border-left: 1px solid #dee2e6;
}

/* Add right border to the last cell */
.nomidborder-table td:last-child,
.nomidborder-table th:last-child {
  border-right: 1px solid #dee2e6;
}
