
<app-navbar></app-navbar>

<div class="container pt-5 mb-4">
  <div class="row gy-3">
    <span class="d-flex justify-content-between align-items-center">
      <h5 class="fw-bold text-primary ">Encuestadores</h5>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEncuestadorModal"
      *ngIf="auth.checkPermiso('CREATE_ENCUESTADOR')"><i
          class="bi bi-plus"></i>Añadir encuestador</button>
    </span>
    <span class="d-flex justify-content-between align-items-center">
      <div class="row flex-grow-1 gy-3">
        <!--<form #(submit)="" class="col-12 col-lg-6 ">-->
        <div class="col-12 col-lg-6">
          <div class="input-group">
            <input #searchInput type="text" class="form-control border-end-0" [(ngModel)]="dniFilter"
              (ngModelChange)="onFilterChange()" placeholder="Filtrar por DNI">
            <button class="input-group-text bg-white border-start-0" type="submit">
              <i class="bi bi-search text-muted"></i>
            </button>
          </div>
        </div>
       </div>
    </span>

    <div class="table-responsive" *ngIf="encuestadores.length === 0">
      <table class="table table-hover nomidborder-table border-top-1">
        <tbody>
          <tr  *ngFor="let num of [].constructor(selectedPageSize); let i = index">
            <td>
              <div class="placeholder-glow mb-0">
                <span class="placeholder w-100 h-100"></span>
              </div>
            </td>
            <td  style="min-width:170px; width:170px;">
              <div class="placeholder-glow mb-0">
                <span class="placeholder w-100 h-100"></span>
              </div>
            </td>
            <td style="min-width:300px; width:300px;">
              <div class="placeholder-glow mb-0">
                <span class="placeholder w-100 h-100"></span>
              </div>
            </td>
            <td  style="min-width:200px; width:200px;">
              <div class="placeholder-glow mb-0">
                <span class="placeholder w-100 h-100"></span>
              </div>
            </td>
            <td style="min-width:40px; width:40px;">
              <div class="placeholder-glow mb-0">
                <span class="placeholder w-100 h-100"></span>
              </div>
            </td>
        </tbody>
      </table>
    </div>

    <div class="table-responsive" *ngIf="paginatedEncuestadores && paginatedEncuestadores.length > 0">
      <table class="table table-hover nomidborder-table border-top" *ngIf="auth.checkPermiso('GET_ENCUESTADOR')">
        <tbody>
          <tr *ngFor="let encuestador of paginatedEncuestadores">
            <td [routerLink]="['/encuestadores', encuestador.id]" [ngStyle]="{ cursor: 'pointer' }">{{ encuestador.nombre }}</td>
            <td [routerLink]="['/encuestadores', encuestador.id]" [ngStyle]="{ cursor: 'pointer' }">{{ encuestador.dni }}</td>
            <td>{{ encuestador.genero }}</td>
            <td>{{ encuestador.ocupacion }}</td>

            <td class="p-0" style="min-width:40; width:40px;">
              <button
                class="w-100 p-2 border-0 rounded-0 h-100 btn btn-outline-danger d-flex justify-content-center align-items-center fw-bold"
                (click)="confirmDelete(encuestador.id)" *ngIf="auth.checkPermiso('DELETE_ENCUESTADOR')">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="align-self-end ps-3 mt-4" *ngIf="encuestadores.length > 0 && paginatedEncuestadores.length === 0">No hay encuestadores que coincidan con el filtro</p>

    <!-- Paginación y cantidad de usuarios -->
    <span class="mx-auto row gy-3 mt-0 d-flex justify-content-center align-items-center">
      <div class="col-12 col-lg-4 mx-auto me-lg-auto ms-lg-0 p-lg-0">
        <div class="mx-auto me-lg-auto ms-lg-0 d-flex justify-content-center align-items-center">
          <label for="pageSize">Encuestadores por página:</label>
          <input type="number" class="form-control form-control-sm ms-2" min="1" max="15" id="pageSize"
            style="width:50px;" [(ngModel)]="selectedPageSize" (ngModelChange)="changePageSize($event)">
          <!--<select class="form-select form-select-sm" id="pageSize" [(ngModel)]="selectedPageSize" (ngModelChange)="changePageSize($event)">
                  <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
                </select>-->

        </div>
      </div>
      <nav class="col" *ngIf="paginatedEncuestadores && paginatedEncuestadores.length > 0">
        <ul class="pagination my-auto  d-flex justify-content-center align-items-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="prevPage()">Anterior</button>
          </li>

          <li class="page-item" *ngFor="let page of getPageNumbersToShow()" [class.active]="page === currentPage">
            <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
          </li>

          <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
            <button class="page-link" (click)="nextPage()">Siguiente</button>
          </li>

        </ul>
      </nav>
    </span>
  </div>
</div>

<!-- Modal añadir encuestador -->
<div class="modal fade" id="addEncuestadorModal" tabindex="-1" aria-labelledby="addEncuestadorModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <form (ngSubmit)="addEncuestador()" #encuestadorForm="ngForm">

                <div class="modal-header">
                    <h5 class="modal-title" id="addEncuestadorModalLabel">Añadir nuevo encuestador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body">

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="newEncuestador.nombre" name="nombre" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="number" class="form-control" id="dni" [(ngModel)]="newEncuestador.dni" name="dni" required>
                    </div>

                    <div class="mb-3">
                        <label for="ocupacion" class="form-label">Ocupación</label>
                        <input type="text" class="form-control" id="ocupacion" [(ngModel)]="newEncuestador.ocupacion" name="ocupacion" required>
                    </div>

                    <div class="mb-3">
                        <label for="genero" class="form-label">Género</label>
                        <input type="text" class="form-control" id="genero" [(ngModel)]="newEncuestador.genero" name="genero" required>
                    </div>

                    <!-- Select para jornadas en las que estuvo -->
                    <div class="mb-3">
                        <label for="jornadas" class="form-label">Jornadas</label>
                        <div class="d-flex gap-2">
                            <select id="jornadas" class="form-select"
                                    [(ngModel)]="selectedJornadaId"
                                    name="selectedJornadaId">
                                <option [ngValue]="null" disabled *ngIf="getAvailableJornadas().length > 0">Seleccione una jornada</option>
                                <option [ngValue]="null" disabled *ngIf="getAvailableJornadas().length === 0">No hay jornadas disponibles</option>
                                <option *ngFor="let jornada of getAvailableJornadas()" [ngValue]="jornada.id">
                                    {{ jornada.fecha }}
                                </option>
                            </select>
                            <button type="button" class="btn btn-success"
                                (click)="addJornada()" [disabled]="!selectedJornadaId">
                                Añadir
                            </button>
                        </div>
                    </div>

                    <!-- Lista de jornadas seleccionadas-->
                     <div class="mb-3 d-flex flex-wrap gap-2">
                        <span *ngFor="let jornada of newEncuestador.jornadas" class="badge bg-primary p-2">
                            {{ jornada.fecha}}
                            <i class="bi bi-x ms-2" style="cursor:pointer"
                            (click)="removeJornada(jornada.id)"></i>
                        </span>
                     </div>

                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="encuestadorForm.invalid" *ngIf="auth.checkPermiso('CREATE_ENCUESTADOR')">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>